In [2]:
from sklearn.linear_model import LogisticRegression
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [11]:
X = pd.read_csv("/Users/paruldiwakar/Desktop/codes/test_train/chemical_separation/Logistic_X_Train.csv").values

In [12]:
y = pd.read_csv("/Users/paruldiwakar/Desktop/codes/test_train/chemical_separation/Logistic_Y_Train.csv").values

In [13]:
#y[:10]

In [14]:
X

array([[-1.23937466,  0.74910149, -0.52851491],
       [-1.03607028,  0.80143631, -1.28371152],
       [-0.61557914,  1.57952053, -1.39192706],
       ...,
       [ 0.08827657,  1.63878904, -2.19364056],
       [ 1.52515501,  0.85923429,  1.50530791],
       [-0.97981744,  0.56395376, -1.53939416]])

In [105]:
X.shape

(3000, 3)

In [106]:
y.shape

(3000, 1)

In [82]:
lr = LogisticRegression()

In [83]:
lr.fit(X,y)

/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [119]:
X_test = pd.read_csv("/Users/paruldiwakar/Desktop/codes/test_train/chemical_separation/Logistic_X_Test.csv").values

In [120]:
X_test.shape

(1000, 3)

In [121]:
y_pred = lr.predict(X_test)

In [122]:
#y_pred[:10]

In [123]:
lr.score(X_test,y_pred)

1.0

In [124]:
y_pred = pd.DataFrame(data =y_pred,columns=['label'])

In [125]:
pd.read_csv("/Users/paruldiwakar/Desktop/codes/test_train/chemical_separation/SampleOutput.csv").values.shape

(3000, 1)

In [126]:
X.shape

(3000, 3)

In [127]:
y.shape

(3000, 1)

In [128]:
y_pred

     label
0        1
1        1
2        0
3        1
4        1
5        1
6        0
7        1
8        0
9        0
10       0
11       1
12       1
13       1
14       1
15       0
16       1
17       0
18       1
19       0
20       1
21       0
22       1
23       0
24       1
25       1
26       0
27       0
28       0
29       1
..     ...
970      1
971      1
972      0
973      1
974      0
975      0
976      0
977      1
978      0
979      0
980      1
981      0
982      1
983      1
984      0
985      1
986      1
987      0
988      1
989      1
990      0
991      0
992      0
993      1
994      1
995      0
996      0
997      1
998      1
999      0

[1000 rows x 1 columns]

In [129]:
y_pred.to_csv("chem_pred.csv",index=False)

In [130]:
y_pred

     label
0        1
1        1
2        0
3        1
4        1
5        1
6        0
7        1
8        0
9        0
10       0
11       1
12       1
13       1
14       1
15       0
16       1
17       0
18       1
19       0
20       1
21       0
22       1
23       0
24       1
25       1
26       0
27       0
28       0
29       1
..     ...
970      1
971      1
972      0
973      1
974      0
975      0
976      0
977      1
978      0
979      0
980      1
981      0
982      1
983      1
984      0
985      1
986      1
987      0
988      1
989      1
990      0
991      0
992      0
993      1
994      1
995      0
996      0
997      1
998      1
999      0

[1000 rows x 1 columns]